<!DOCTYPE HTML>
<html>
	<head>
		<title>Service</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../resources/css/servicecenter.css" />
		<script type="text/javascript" src="../resources/js/jquery.min.js"></script>
		<noscript><link rel="stylesheet" href="../resources/css/noscript.css" /></noscript>
		
	</head>
	<body class="is-preload" onload="document.fadeIn();">
			
			<!-- onload="document.loginfrm.userid.focus()" -->
		<!-- Wrapper -->
			<div id="wrapper">
				
				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
							<a href="../index.jsp" class="logo">
									<span class="symbol"><img src="../images/SectorLogo.png"/></span>
									<span class="title">Sector</span>
							</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="../index.jsp">Home</a></li>
							<li><a href="./login.jsp">로그인</a></li>
							<li><a href="../index.jsp#footer">문의하기</a></li>
							<li><a href="#">공지사항</a></li>

						</ul>
					</nav>

			
			<img src="../images/se.png" id="bg" alt="">
					
			<div class="inner">
				<div id="notice">
					<br>
					<h2>공 지 사 항</h2>
					<div class="content">
						<div id="title">제목</div>
						<div id="date">날짜</div>
					</div>
					
				</div>
			</div>
			
				

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; 서울특별시 강남구 테헤란로 남도빌딩 2층 B</li><li>Disign by Koogunmo</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../resources/js/jquery.min.js"></script>
			<script src="../resources/js/browser.min.js"></script>
			<script src="../resources/js/breakpoints.min.js"></script>
			<script src="../resources/js/util.js"></script>
			<script src="../resources/js/main.js"></script>

			<script type="text/javascript">
				$(document).ready(function(){
					$( "#cs_menu_select_box" ).change(function() {
						var menu = $('#cs_menu_select_box option:selected').val();
						if( menu == "notice" ){
							window.location.href = "#";
						}else if ( menu == "mail"){
							window.location.href = "#";
						}else if( menu == "faq"){
							window.location.href = "#";
						}
					})
				})
			</script>
	</body>
</html>