<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>koogunmo</title>

        <!-- main css -->
        <link type="text/css" rel="stylesheet" href="../../resources/css/style.css"/>
        <!-- AOS cs -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <!-- jquery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
       
    </head>
<body>
    
    <input type="checkbox" id="switch">
    <div class="app" data-aos="zoom-out">
        <div class="body">
            <div class="main-circle"></div>
            <div class="phone">
                


            </div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
</body>

</html>
